<ion-header>
  <ion-navbar>
    <ion-title>Tools</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button round (click)="newTool();">Add</button>
  <div> {{ (user | async)?.uid }} </div>
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>
  <ion-list *ngFor="let tool of tools | async">
    <ion-item>
      <ion-card>
        <img src="{{tool.image}}" />
        <ion-card-content>
          <ion-card-title>
            {{tool.name}}
          </ion-card-title>
          <p>
            {{tool.description}}
          </p>
          <button ion-button round (click)="deleteTool(tool);"> Delete</button>
          <button ion-button round (click)="editTool(tool);"> Eidt</button>
          <button *ngIf="(user | async)?.uid" ion-button round (click)="shareTool(tool);" > Share</button>
          <button *ngIf="(user | async)?.uid" ion-button round (click)="requestTool(tool);"> Request</button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

