<ion-header>
  <ion-navbar>
    <ion-title>Tools</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button round (click)="newTool();">Add</button>
  <div> {{ (sessionService.firebaseUser |async)?.uid }} </div>
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>
  <ion-list *ngFor="let tool of tools | async">
    <ion-item>
      <ion-card>
        <img src="{{tool.image}}" />
        <ion-card-content>
          <ion-card-title>
            {{tool.name}}
          </ion-card-title>
          <p>
            {{tool.description}}
          </p>
          <button ion-button outline round (click)="deleteTool(tool);"> Delete</button>
          <button ion-button round (click)="editTool(tool);"> 
            <ion-icon name="star"></ion-icon>
            Eidt</button>
          <button *ngIf="(sessionService.user)" ion-button round (click)="shareTool(tool);"> Share</button>
          <button *ngIf="(sessionService.user)" ion-button round (click)="requestTool(tool);"> Request</button>
        </ion-card-content>
        <ion-item>
          <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
          Albums
          <ion-badge item-end>9</ion-badge>
        </ion-item>

        <ion-item>
          <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
          Followers
          <ion-badge item-end>260k</ion-badge>
        </ion-item>

      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>